<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/vue.min.js"></script>
</head>
<body>
<div id="app">
    id:<input type="text" v-model="id">
    name:<input type="text" v-model="name">
    <button @click="add()">添加</button>
   <p v-for="item in list" :key="item.id">
       <input type="checkbox">
       {{item.id}}--------->{{item.name}}
   </p>
</div>
</body>
<script>
    new Vue({
       data:{
           id:"",
           name:"",
           list:[
               { id: 1, name: '李斯' },
               { id: 2, name: '嬴政' },
               { id: 3, name: '赵高' },
               { id: 4, name: '韩非' },
               { id: 5, name: '荀子' }
           ]
       },
       el:"#app",
       methods:{
            add:function () {
               // this.list.push({id:this.id,name:this.name});
                this.list.unshift({id:this.id,name:this.name});
            }
       }

    });
</script>
</html>